html
head
   title Add Movie
   body
      form(action = "/addmoviepost", method = "POST")
      div
         label(for = "mname") MName: 
         input(name = "mname")
      br      
      button(type = "submit") Add New Movie